.contact-container .row{
    width: 100% ;
    display: flex ; 
    margin: 20px 0;
    flex-wrap: wrap;
}
.contact-container .row .col-6{
    width: 50% ; 
    position: relative;
    padding: 5px ;
    margin-top: 40px;
}

.adder-content{justify-content: flex-end;}
  .contact-icons{width: 40px; margin: 0 10px;}
  .contact-spacing{margin: 10px 20px;}
.bottom{
  max-height: 500px;
}
.contact-collection{display: flex;flex-wrap: wrap; justify-content:space-around; margin : 50px 0}
div.sideicon{
    position:absolute;
     left:0;
    right: 0;  
    bottom: 70px;
    width: 30px;
    margin-left: 10px;
    vertical-align: center;
    
  }
  
  .followus{
    rotate: -90deg;
    height: 50px;
    margin-left: 20px;
}
.vl {
    border-left: 1px solid rgb(86, 75, 75);
    height: 50px;
    margin-left: 10px;
  }
#map-bar{position: relative;}
#map-bar iframe{width: 90%;}
.frame-buddy{
    width:35%; 
    height:300px;
    background: #5790f3;
    position: absolute;
    top: 0;
    border-radius: 5px;
    left: 60%;
    margin-top: -35px;
    z-index: -1;
}
.pointer{
    cursor: pointer;
}
.col-4-loc,.col-4-mail,.col-4-phone {width: 20%; display: flex; padding: 10px;}
/* .map {position: absolute;top: 0;} */
/* Styles for tablets */
@media only screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  
.contact-container .row .col-6{
  width: 100%;
}
#map-bar iframe{width: 80%;}
#map-bar{text-align: center; width: 100%;}
#map-bar .frame-buddy{
  left: 63%;
  background-color:white;
}

.col-4-loc,.col-4-mail,.col-4-phone
{
  width: 80%; margin:auto; 
} 
}
 