.image {
    background: rgba(0, 0, 0, 0.3);
    height: 50vh;
    width: 100%;
    position: relative;
}

.image::before {
    content: '';
    background: url('http://www.thelaxmigroup.in/images/resources/splend.jpeg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image .heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image h1 {
    font-size: 40px;
    color: wheat;
}

.image p {
    font-size: 40px;
    color: wheat;
}

#outer {
    width: 100%;
    text-align: center;
}

.inner {
    display: inline-block;
}

.inner .com {
    list-style-type: none;
    background: wheat;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-right: 8px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.com a {
    color: #000;
    font-weight: 100;

}

.com:hover {
    background: rgb(249, 195, 94);
}

.com .active {
    background-color: orange;
}

.inner .loc {
    list-style-type: none;
    background: #5ba545;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-right: 8px;
    margin-left: 720px;
    border-radius: 5px;
    margin-top: 5px;
}

.loc a {
    color: #fff;
    font-weight: 100;

}

.loc:hover {
    background: rgb(249, 195, 94);
}

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.rows {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
    text-align: justify;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

#gallery {
    padding-top: 50px;
    margin-bottom: 50px;
}

#gallery2{
    padding-top: 16px;
    margin-bottom: 17px;
}

#amenities {
    padding-top: 70px;
    margin-bottom: 50px;
}

/* .nities{
    margin-top: 10px;
} */
#location {
    padding-top: 50px;
}

#location,
h2 {
    text-align: center;
    font-size: 24px;
}

#location h1 {
    font-weight: bold;
}

#location #add {
    font-weight: normal;
}

#location #loc_add {
    font-size: 20px;
}

#floorplan1 {
    padding-top: 50px;
    margin-bottom: 50px;
}

#floorplan1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#amenities img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

#maha_rera #maha_p {
    font-size: 20px;
    text-align: center;
}

#maha_rera #maha_p #maha_a:hover {
    color: blue;
}

#maha_a:visited {
    color: violet;
}

#maha_a:link {
    color: gray;
}

#rowA {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 150px;
}


#map-bar {
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}

#map-bar iframe {
    width: 80%;
    text-align: center;
}


@media only screen and (max-width:980px) {

    .text-col,
    .img-col {
        flex-basis: 100%;
    }

    .features p {
        font-size: 15px;
    }

    .rows:nth-child(2),
    .rows:nth-child(4) {
        flex-direction: column-reverse;
    }

    .features .rows {
        padding: 10px 0;
    }

    .heading h1,
    p {
        text-align: center;
    }

    #map-bar {
        margin-left: auto;
        margin-right: auto;
    }

    #map-bar iframe {
        width: 80%;
        text-align: center;
    }
}

@media only screen and (max-width:800px) {

    .rows,
    .text-col,
    h2 {
        text-align: center;
    }

    #floorplan1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
    }

    #map-bar {
        margin-left: auto;
        margin-right: auto;
    }

    #map-bar iframe {
        width: 80%;
    }

    #gallery2{
        margin-bottom: 137px;
        padding-top: 179px;
    }

    #floorplan1{
        padding-top: 100px;
        margin-bottom: 49px;
    }


}

/* @media only screen and (max-width: 402px) {
    #amenities{
        margin: 8px 8px 70px;
    }
} */